extends ../layout

block content
	h1='All Releases'
	form(method='get', action="/releases/:id/deleteAll")
		input(id="delete",value="Delete All",type='submit')
	form(method='get', action='/releases/new')
		input(id="create",value="Create New",type='submit')
	ul
		each release, i in releases
			li
			p #{release.artist}
			p #{release.title}
			p #{release.status}
			p #{release.date_received}
			p #{i}
			form(method='get', action="/releases/:id/delete")
				input(name="_id",type="hidden",value=release._id.toHexString())
				input(id="delete",value="X",type='submit')