extends ../layout

block content
  .container#options
    .row
      .col-xs-12
        h2='Options'
        btn-group.btn-group-vertical
          button.btn.btn-default#delete(value="Delete") Delete
          button.btn.btn-default(value="Add") Add
  .container#releases
    .row
      .col-xs-12
        h1='All Releases'
        table.table-bordered#releases
          thead
            th.options Select
            th Title
            th Artist
            th Status
            th Date Received
            th._id RELEASE ID
          tbody
            each release, i in releases
              tr
                td.options 
                  div.select
                    input(type="checkbox")
                td
                  a(href='releases/' + release._id) #{release.title}
                td #{release.artist}
                td #{release.status}
                td #{release.date_received}
                td._id #{release._id}
            tr
              div.options 
                button.btn.btn-default#cancel(value="Cancel") Cancel
                form(method="post" action="/releases/:id/delete")
                  button.btn.btn-default#confirm(type="submit" value="Confirm") Confirm
