extends ../layout

block content
  .container
    .row
      .col-xs-12
        h1='All Releases'
        table.table
          thead
            th Artist
            th Title
            th Status
            th Date Received
          each release, i in releases
            tr
              td #{release.artist}
              td #{release.title}
              td #{release.status}
              td #{release.date_received}

